<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wujiatong.backend.module.jinan.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wujiatong.backend.module.jinan.entity.Region">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="city_id" property="cityId" />
        <result column="parent_id" property="parentId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, city_id, parent_id, remark
    </sql>

</mapper>
